<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <div class="v-modal">

    </div>
    <div id="nav">
        <div class="breadNav">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>课程配置</el-breadcrumb-item>
                <el-breadcrumb-item>课程管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="info_change">
            <el-button type="info" @click="dialogFormVisible=true">+ 新增</el-button>

            <el-dialog title="信息补录" :visible.sync="dialogFormVisible">
                <el-form :model="form">
                    <el-form-item label="课程编号" :label-width="formLabelWidth">
                        <el-input v-model="form.id" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="课程名称" :label-width="formLabelWidth">
                        <el-input v-model="form.name" auto-complete="off"></el-input>
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
                </div>
            </el-dialog>

            <el-button type="success" class="mould" @click="importmould">上传<i class="el-icon-upload el-icon--right"></i></el-button>
            <input type="file" id="btn_file" style="display:none" @change="fileupload">

        </div>

        <div class="search_area">
            <el-input placeholder="请输入课程编号" v-model="courseid">

            </el-input>
            <el-input placeholder="请输入课程名称" v-model="coursename" class="boot">

            </el-input>
            <el-button type="primary" icon="search" class="boot">搜索</el-button>
        </div>



        <div class="table_box">

            <el-table :data="tableData" border style="width: 100%">
                <el-table-column fixed prop="id" label="序号" width="120">
                    <template scope="scope">

                      <span>{{scope.row.id}}</span>
               </template>
                </el-table-column>
                <el-table-column prop="cid" label="课程编号" width="200">
                    <template scope="scope">

                 <el-popover
                   ref="popover"
                   placement="right"
                   width="300"
                   trigger="click">
                     <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
                         <el-form-item label="课程编号">
                           <el-input v-model="formLabelAlign.name"></el-input>
                         </el-form-item>
                     <el-form-item label="课程名称">
                       <el-input v-model="formLabelAlign.region"></el-input>
                     </el-form-item>
                     <el-form-item label="操作">
                       <el-button type="info" @click="change_course(scope.$index)">修改</el-button>
                     </el-form-item>

                   </el-form>
                 </el-popover>

               <span v-popover:popover>{{scope.row.cid}}</span>
               </template>
                </el-table-column>
                <el-table-column prop="cname" label="课程名称" width="300">
                    <template scope="scope">
               <span>{{scope.row.cname}}</span>
               </template>
                </el-table-column>
                <el-table-column label="封面" width="250" prop="imageSrc">
                    <template scope="scope">

                 <img :src="scope.row.imageSrc" style="margin:1em;width:180px" />

               </template>
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="200">
                    <template scope="scope">

                 <el-button type="primary" icon="edit"  @click="editcover(scope.$index,scope.row)" >
                   修改封面<i class="el-icon--right"></i></el-button>

                   <el-dialog
                     title="提示"
                     :visible.sync="dialogVisible"
                     size="tiny">
                     <el-upload class="upload-demo" drag action="https://jsonplaceholder.typicode.com/posts/" multiple>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                    </el-upload>
                     <span slot="footer" class="dialog-footer">
                       <el-button @click="dialogVisible = false">取 消</el-button>
                       <el-button type="primary" @click="confirm">确 定</el-button>
                     </span>
                   </el-dialog>

               </template>
                </el-table-column>
            </el-table>
        </div>

        <div align="center">
            <div class="block">

                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="40">
                </el-pagination>
            </div>
        </div>

        <footer>

        </footer>
    </div>
</body>

<script src="../js/course.js">
    
</script>
</html>
