<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <div class="v-modal">

    </div>
    <div id="nav">
        <div class="breadNav">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>课程配置</el-breadcrumb-item>
                <el-breadcrumb-item>开课管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="padding">


            <div class="info_change">
                <el-button type="success" class="mould" @click="importmould1">导入学生<i class="el-icon-upload el-icon--right"></i></el-button>
                <input type="file" id="file_stu" style="display:none" @change="fileupload1">

                <el-button type="success" class="mould" @click="importmould2">导入老师<i class="el-icon-upload el-icon--right"></i></el-button>
                <input type="file" id="file_tea" style="display:none" @change="fileupload2">

            </div>
        </div>
        <div class="search_area">

            <el-select v-model="select" placeholder="请选择学期">
                <el-option v-for="item in cities" :key="item.value" :label="item.label" :value="item.value">
                    <span style="float: left">{{ item.label }}</span>
                    <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                </el-option>
            </el-select>

            <el-input placeholder="请输入课程" v-model="coursename" class="boot-auto">

            </el-input>
            <el-input placeholder="请输入教师" v-model="teaname" class="boot-auto">

            </el-input>

            <el-select v-model="mode" placeholder="请选择状态" class="boot-auto">
                <el-option v-for="item in status" :key="item.value" :label="item.label" :value="item.value">
                    <span style="float: left">{{ item.label }}</span>
                    <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                </el-option>
            </el-select>



            <el-button type="primary" icon="search" class="boot-auto" @click="loadData(1,8)">搜索</el-button>
        </div>



        <div class="table_box">

            <el-table :data="tableData" border style="width: 100%">


                <el-table-column type="expand">
                    <template scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                      <el-form-item label="课序号">
                        <span>{{ props.row.cid }}</span>
                      </el-form-item>
                      <el-form-item label="课程编号">
                        <span>{{ props.row.cnum }}</span>
                      </el-form-item>
                      <el-form-item label="课程名称">
                        <span>{{ props.row.cname }}</span>
                      </el-form-item>
                      <el-form-item label="教师工号">
                        <span>{{ props.row.tnum }}</span>
                      </el-form-item>
                      <el-form-item label="教师姓名">
                        <span>{{ props.row.tname }}</span>
                          <i class="my-icon el-icon-edit" @click="choose_tea(props.$index)"></i>

                          <el-dialog title="选择老师" :visible.sync="dialogTeaTableVisible">
                              <el-form :model="teaform" style="width: 100%;">
                                  <el-form-item label="" :label-width="tformLabelWidth" style="width: inherit;display: grid">
                                      <el-input v-model="teaform.name" auto-complete="off" style="width: 70%;"></el-input>
                                      <el-button type="primary" icon="search" style="position: absolute;margin-left: 10%">搜索</el-button>
                                  </el-form-item>
                              </el-form>
                              <el-table :data="teaData" style="margin-top: 20px">
                                  <el-table-column property="id"label="序号" width="150"></el-table-column>
                                  <el-table-column property="wid" label="工号" width="230"></el-table-column>
                                  <el-table-column property="name" label="姓名" width="230"></el-table-column>
                                  <el-table-column label="操作" width="200">
                                      <template scope="teascope">
                                          <el-button :plain="true" type="success">选定</el-button>
                                      </template>
                                  </el-table-column>
                              </el-table>
                          </el-dialog>
                      </el-form-item>
                      <el-form-item label="操作">
                        <el-button type="primary" icon="el-icon-information" @click="edit_stu(props.$index)">查看学生信息</el-button>

                        <el-dialog title="学生选课信息" :visible.sync="dialogTableVisible">
                          <el-table :data="gridData">
                            <el-table-column property="sid" label="序号" width="150"></el-table-column>
                            <el-table-column property="snum" label="学号" width="280"></el-table-column>
                            <el-table-column property="sname" label="姓名" width="280"></el-table-column>
                            <el-table-column label="操作" width="122">
                              <template scope="info">
                                <el-button @click.native.prevent="deleteRow(info.$index, gridData)" type="text" size="small">
                              移除
                                </el-button>
                              </template>
                </el-table-column>
            </el-table>

            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" class="pagi" :page-sizes="[10, 20, 30, 40]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="40">
            </el-pagination>
            </el-dialog>

            </el-form-item>




            </el-form>
            </template>
            </el-table-column>



            <el-table-column fixed prop="id" label="序号" width="100">
                <template scope="scope">

                      <span>{{scope.row.id}}</span>
               </template>
            </el-table-column>
            <el-table-column prop="cid" label="课序号" width="150">
                <!-- <template scope="scope">

                 <el-popover
                   ref="popover"
                   placement="right"
                   width="300"
                   trigger="click">
                     <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
                         <el-form-item label="课程编号">
                           <el-input v-model="formLabelAlign.name"></el-input>
                         </el-form-item>
                     <el-form-item label="课程名称">
                       <el-input v-model="formLabelAlign.region"></el-input>
                     </el-form-item>
                     <el-form-item label="操作">
                       <el-button type="info" @click="change_course(scope.$index)">修改</el-button>
                     </el-form-item>

                   </el-form>
                 </el-popover> -->


                <!-- <span v-popover:popover>{{scope.row.cid}}</span> -->

            </el-table-column>
            <el-table-column prop="cnum" label="课程编号" width="240">
                <template scope="scope">
               <span>{{scope.row.cnum}}</span>
               </template>
            </el-table-column>
            <el-table-column prop="cname" label="课程名称" width="240">
                <template scope="scope">
               <span>{{scope.row.cname}}</span>
               </template>
            </el-table-column>
            <el-table-column prop="tnum" label="教师编号" width="200">
                <template scope="scope">
               <span>{{scope.row.tnum}}</span>
               </template>
            </el-table-column>
            <el-table-column prop="tname" label="教师姓名" width="200">
                <template scope="scope">
               <span>{{scope.row.tname}}</span>
               </template>
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="100" prop="thandle">
                <template scope="scope">
                 <el-switch v-model="scope.row.thandle" on-color="#13ce66" off-color="#ff4949" on-text="开" off-text="关" @change="toggle(scope.$index,scope.row)">
                 </el-switch>

               </template>
            </el-table-column>
            </el-table>
        </div>

        <div align="center">
            <div class="block">

                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="pagesizes" :page-size="pagesize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </div>
        </div>

        <footer>

        </footer>
    </div>
</body>

<script src="../js/url.js"></script>
<script src="../js/launch.js">
   
</script>
</html>
