<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <div id="nav">
        <div class="breadNav">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>课程配置</el-breadcrumb-item>
                <el-breadcrumb-item>学期管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="info_change">
            <el-button type="info" @click="dialogFormVisible=true">+ 新增</el-button>

            <el-dialog title="" :visible.sync="dialogFormVisible">
                <el-form :model="form">
                    <el-form-item label="编号" :label-width="formLabelWidth">
                        <el-input v-model="form.code" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="名称" :label-width="formLabelWidth">
                        <el-input v-model="form.name" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="时间" :label-width="formLabelWidth">
                    <div class="block">
                        <el-date-picker v-model="form.date" type="daterange" placeholder="选择日期范围" :picker-options="pickerOptions2" @change="saveRange">
                        </el-date-picker>
                    </div>
                    </el-form-item>
                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="createTerm">确 定</el-button>
                </div>
            </el-dialog>


        </div>

        <div class="table_box">
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column fixed prop="tid" label="序号" width="180">
                </el-table-column>
                <el-table-column prop="tcode" label="编号" width="200">
                </el-table-column>
                <el-table-column prop="tname" label="名称" width="280">
                </el-table-column>
                <el-table-column prop="tstart" label="开始日期" width="200">
                </el-table-column>
                <el-table-column prop="tend" label="结束日期" width="200">
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="180" prop="thandle">
                    <template scope="scope">
                 <el-switch v-model="scope.row.thandle" on-color="#13ce66" off-color="#ff4949" on-text="开" off-text="关" @change="toggle(scope.$index,scope.row)">
                 </el-switch>

               </template>
                </el-table-column>
            </el-table>
        </div>

        <div align="center">
            <div class="block">

                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="pagesizes" :page-size="pagesize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </div>
        </div>

        <footer>

        </footer>
    </div>
</body>

<script src="../js/term.js"/>
</html>
