<div class="nav">
    <el-menu theme="dark" class="el-menu-demo el-menu-margin" mode="horizontal">
        <el-menu-item class="title" index="0-1">运维平台</el-menu-item>
        <el-menu-item class="solo left" index="0-2" @click="logout">注销</el-menu-item>
        <el-menu-item class="solo left" index="0-2" @click="changePassView=true">修改密码</el-menu-item>
        <el-menu-item class="solo left" index="0-3" v-model="username">{{username}}</el-menu-item>
    </el-menu>

    <el-dialog title="" :visible.sync="changePassView" size="tiny">
        <el-form :model="passView" style="margin-top: 1em;margin-right: 1em;" :rules="passrule" ref="passView">
            <el-form-item label="旧密码" :label-width="formLabelWidth" prop="oldpass">
                <el-input v-model="passView.oldpass" auto-complete="off" type="password"></el-input>
            </el-form-item>
            <el-form-item label="新密码" :label-width="formLabelWidth" prop="newpass">
                <el-input v-model="passView.newpass" auto-complete="off" type="password"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" :label-width="formLabelWidth" prop="checkpass">
                <el-input v-model="passView.checkpass" auto-complete="off" type="password"></el-input>
            </el-form-item>

        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="bringPass('passView')">确 定</el-button>
        </div>
    </el-dialog>
</div>